delete firewall name FW_GENERAL
set firewall name FW_NEW default-action 'reject'
set firewall name FW_NEW rule 10 action 'accept'
set firewall name FW_NEW rule 10 protocol 'all'
set firewall name FW_NEW rule 10 state established 'enable'
set firewall name FW_NEW rule 10 state related 'enable'
set firewall name FW_NEW rule 11 action 'drop'
set firewall name FW_NEW rule 11 state invalid 'enable'
set firewall name FW_NEW rule 100 action 'accept'
set firewall name FW_NEW rule 100 description 'Acepta DNS'
set firewall name FW_NEW rule 100 destination port '53'
set firewall name FW_NEW rule 100 protocol 'tcp_udp'
set firewall name FW_NEW rule 100 state new 'enable'
set firewall name FW_NEW rule 200 action 'accept'
set firewall name FW_NEW rule 200 description 'Acepta HTTP (TCP)'
set firewall name FW_NEW rule 200 destination port '80'
set firewall name FW_NEW rule 200 protocol 'tcp'
set firewall name FW_NEW rule 200 state new 'enable'
set firewall name FW_NEW rule 201 action 'accept'
set firewall name FW_NEW rule 201 description 'Acepta HTTPS (TCP/UDP)'
set firewall name FW_NEW rule 201 destination port '443'
set firewall name FW_NEW rule 201 protocol 'tcp_udp'
set firewall name FW_NEW rule 201 state new 'enable'
set firewall name FW_NEW rule 210 action 'accept'
set firewall name FW_NEW rule 210 description 'Acepta NTP'
set firewall name FW_NEW rule 210 destination port 'ntp'
set firewall name FW_NEW rule 210 protocol 'udp'
set firewall name FW_NEW rule 210 state new 'enable'